@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body{
  overflow-x: hidden;
  background: #F8F9FB;

}



.SignInP{

  color: #A2A5AC;
}

.inputSignIn{
  border-radius: 100px;
border: 1px solid var(--light-version-divider-color, #F5F5F6);
background: var(--light-version-whit-color, #FFF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  display: flex;
}

.menuContainer {
  width: 300px;
  height: 100%;
 

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  height: 100%;
  width: 100%;
}

