@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background: #f8f9fb;
}

.SignInP {
  color: #a2a5ac;
}

.inputSignIn {
  border-radius: 100px;
  border: 1px solid var(--light-version-divider-color, #f5f5f6);
  background: var(--light-version-whit-color, #fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.newuser {
  border-radius: 10.449px;
  background: var(--White, #fff);
  box-shadow: 0px 3px 16px 0px rgba(30, 128, 180, 0.08);
}

.graphs {
  border-radius: 10px;
  background: var(--light-version-whit-color, #fff);
}
