@tailwind base;
@tailwind components;
@tailwind utilities;

.SignInP{

  color: #A2A5AC;
}

.inputSignIn{
  border-radius: 100px;
border: 1px solid var(--light-version-divider-color, #F5F5F6);
background: var(--light-version-whit-color, #FFF);
}